<div class="container mt-4">
    <h2 class="p-3">Users List</h2>
    <table datatable [dtOptions]="dtOptions" class="table table-striped"
        *ngIf="userList.length!=0">
        <thead class="bg-light">
            <tr class="text-center">
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of userList; let i = index" class="text-center">
                <td>{{i+1}}</td>
                <td>{{user.first_name}}</td>
                <td>{{user.last_name}}</td>
                <td>{{user.email}}</td>
                <td  class="text-center">
                    <div class="d-flex justify-content-center justify-content-around">
                      
                            <button type="button" class="btn btn-primary">Edit</button>
                       
                            <button type="button" class="btn  btn-danger">Delete</button>
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>