<div class="main-div">
    <header class="masthead">
        <div class="container d-flex h-100 align-items-center">
            <div class="mx-auto text-center">
                <h1 class="mx-auto my-0 text-uppercase">Lorem ipsum dolor</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pretium orci sed fermentum pretium. Quisque
                    tempus rutrum porta.</h2>
                <a class="btn btn-primary js-scroll-trigger" href="#about">Rutrum porta</a>
            </div>
        </div>
    </header>
</div>